@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
}
#header-info {
    list-style-type: none;
    float: right;
    padding: 8px;
    margin-bottom: 18px;
}
.header-list {
    float: right;
    font-size: 13px;
    line-height: 1.5;
    width: 50px;
}
.googleapps {
    position: relative; left:20px;
}
main {
    position: relative; left:540px; top:100px;
} 
.search {
    position: relative; right: 830px; top:110px;
}
.lucky-search {
    position: relative; right: 800px; top:110px;
}
#googlesearch {
    position: relative; left:-200px; top:50px;
}
.translate {
    position: relative; left: 50px; top:120px;
    font-size: 11px;
}
#footer {
    list-style-type: none;
    position: relative; bottom:-350px;
    padding: 24px;
    font-size: 15px;
    line-height: 1.5;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(190, 190, 190) ;
    background-color: rgb(240, 236, 236);
}
#googlesearch {
    position: relative; left: -400px;
    width: 40%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px shadow rgb(199, 196, 196);
    border-radius: 15px;
    box-sizing: border-box;
}
#arg {
    background-color: rgb(240, 236, 236);
    padding: 12px 35px;
    display: flex;
    position: relative; top: 350px;
    margin: 0px;
    border-style: solid;
    border-color:rgb(211, 209, 209);
    border-width: 1px;
    background-color: rgb(240, 236, 236);
}
#aboutgoogle {
    float: left;
    position: relative; left: 25px; bottom: 10px;
    background-color: rgb(240, 236, 236);
}
#publicidad {
    float: left;
    position: relative; left: 50px; bottom: 10px;
    background-color: rgb(240, 236, 236);
}
#negocios {
    float: left;
    position: relative; left: 75px; bottom: 10px;
    background-color: rgb(240, 236, 236);

}
#how {
    float: left;
    position: relative; left: 100px; bottom: 10px;
    background-color: rgb(240, 236, 236);
}
#privacidad {
    float: right;
    position: relative; right: 250px; bottom: 10px;
    background-color: rgb(240, 236, 236);
}
#condiciones {
    float: right;
    position: relative; right: 70px; bottom: 10px;
    background-color: rgb(240, 236, 236);
}
#preferencias {
    float: right;
    position: relative; right: -120px; bottom: 10px;

}
#footfoot {
    background-color:rgb(190, 190, 190);
    position: relative; bottom: 50px;
}