@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
#header-info {
    list-style-type: none;
    float: right;
    padding: 8px;
    margin-bottom: 18px;
}
.header-list {
    float: right;
    font-size: 13px;
    line-height: 1.5;
    width: 50px;
}
.googleapps {
    position: relative; left:20px;
}
main {
    position: relative; left:525px; top:50px;
} 
.search {
    position: relative; right: 830px; top:110px;
}
.lucky-search {
    position: relative; right: 800px; top:110px;
}
#googlesearch {
    position: relative; left:-200px; top:50px;
}
.translate {
    position: relative; left: 50px; top:120px;
    font-size: 11px;
}
#footer {
    list-style-type: none;
    position: relative; top:300px;
    padding: 8px;
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 1.5;
}
#googlesearch {
    position: relative; left: -400px;
    width: 40%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px shadow rgb(199, 196, 196);
    border-radius: 15px;
    box-sizing: border-box;
}
#arg {
    background-color: rgb(240, 236, 236);
    padding: 15px 20px;
    height: 100%;
    display: flex;
}
#left-foot {
    background-color: rgb(240, 236, 236);
    float:left;
    position: relative; bottom: 10px;
    padding: 15px 20px;
    height: 100%;
    display: flex;
}
#right-foot {
    background-color: rgb(240, 236, 236);
    float:right;
    position: relative; bottom: 10px;
    padding: 15px 20px;
    height: 100%;
    display: flex;
}